[submodule "nextpnr-xilinx"]
	path = nextpnr-xilinx
	url = https://github.com/gatecat/nextpnr-xilinx
	ignore = dirty
[submodule "prjxray"]
	path = prjxray
	url = https://github.com/LAK132/prjxray
	ignore = dirty
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys
	ignore = dirty
[submodule "ghdl"]
	path = ghdl
	url = https://github.com/ghdl/ghdl
	ignore = dirty
[submodule "ghdl-yosys-plugin"]
	path = ghdl-yosys-plugin
	url = https://github.com/LAK132/ghdl-yosys-plugin
	ignore = dirty
[submodule "mega65-tools"]
	path = mega65-tools
	url = https://github.com/MEGA65/mega65-tools
	ignore = dirty
[submodule "nextpnr"]
	path = nextpnr
	url = https://github.com/YosysHQ/nextpnr
	ignore = dirty
[submodule "prjtrellis"]
	path = prjtrellis
	url = https://github.com/YosysHQ/prjtrellis
	ignore = dirty
[submodule "mega65-core/source/xpm_vhdl"]
	path = mega65-core/source/xpm_vhdl
	url = https://github.com/fransschreuder/xpm_vhdl
	ignore = dirty
[submodule "fasm2bit"]
	path = fasm2bit
	url = https://github.com/LAK132/fasm2bit
	ignore = dirty
[submodule "icestorm"]
	path = icestorm
	url = https://github.com/YosysHQ/icestorm
	ignore = dirty
[submodule "torii-hdl"]
	path = torii-hdl
	url = https://github.com/shrine-maiden-heavy-industries/torii-hdl
[submodule "torii-boards"]
	path = torii-boards
	url = https://github.com/shrine-maiden-heavy-industries/torii-boards
